

@font-face {
  font-family: 'PixelBig1'; /* Choose a name for your font */
  src: url('fonts/Daydream DEMO.otf') format('opentype'); /* Specify the path and format */
  font-weight: normal; /* Define weight and style if applicable */
  font-style: normal;
}

@font-face {
  font-family: 'Pixel2';
  src: url('ari-w9500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optimization: shows fallback font until custom font loads */
}


h1{
    font-family: 'PixelBig1', sans-serif;

    text-align: center;
    transition:
        opacity 5s,
        display 5s;

    transition-behavior: allow-discrete;
    @starting-style {
        opacity: 0.1;
    /* creates a fade in text animation */
}
}

h2 {
    font-family: 'Pixel2', sans-serif;
}

/* h1:hover{
    opacity: 0.5;
} */

/* cursor hovers, text fades */

.grid-container {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    margin-left: 150px;
    margin-top: 50px;
}
.canvas {
    display: flex;
    flex-wrap: wrap; 
    border: solid 1px #000000;
    width: 600px;
    height: 600px;
    margin: 0px 50px 50px 50px;
    gap:0;
    background-color: rgb(239, 235, 226);


} 

.container {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1px;
    margin-left: 50px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  position: relative;
}

.show-lines {
    border: solid 1px rgb(219, 219, 219)
}

.canvas.show-lines .square {
  border: 1px solid rgb(219, 219, 219);
}


.dark-overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0;
  pointer-events: none; /* allows drawing through it */
}





