

@font-face {
  font-family: 'PixelBig1'; /* Choose a name for your font */
  src: url('fonts/Daydream DEMO.otf') format('opentype'); /* Specify the path and format */
  font-weight: normal; /* Define weight and style if applicable */
  font-style: normal;
}


h1{
    font-family: 'PixelBig1', sans-serif;

    text-align: center;
    transition:
        opacity 5s,
        display 5s;

    transition-behavior: allow-discrete;
    @starting-style {
        opacity: 0.1;
    /* creates a fade in text animation */
}
}

h2 {
    font-family: 'PixelBig1', sans-serif;
    color: rgb(175, 106, 167);
}

/* h1:hover{
    opacity: 0.5;
} */

/* cursor hovers, text fades */

.main-buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 20px;
}

.buttons1,
.buttons2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}



.custom-color-picker {
  /* Style the label to look like your desired color picker swatch */
    display: block;
    width: 80px;
    aspect-ratio: 1/1;
    cursor: pointer;

    /* Add your custom image */
    background-image: url(images/palette.png);
    background-size: contain; /* Ensures the image covers the area */
    background-repeat: no-repeat;
    background-position: center; 
    /* border: #1a1818 1px solid; */
    /* border: #1a1818 solid 1px; */

}

#color{
    opacity: 0;
    cursor: pointer;
    /* Vendor-specific prefixes to reset appearance in different browsers */
    -webkit-appearance: none; 
    appearance: none;
    border: none;
    background: transparent;

}

#drawMode, #rainbow, #eraser, #clear, #addLines {
  /* Remove default button styling */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  /* Size the container */
  width: 80px; 
  aspect-ratio: 1 / 1;
  /* border: #1a1818 solid 1px; */
}

#drawMode img, #rainbow img, #eraser img, #clear img, #addLines img {
  /* Make the icon fill the button nicely */
  width: 100%;
  height: 100%;
  display: block;
}




.grid-container {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 10%;
    margin-left: 150px;
    margin-top: 50px;
}

.canvas {
    display: flex;
    flex-wrap: wrap; 
    border: solid 2px #1a1818;
    width: 600px;
    height: 600px;
    margin: 0px 50px 50px 50px;
    gap:0;
    background-image: url(images/sketchpaper.jpg);

    /* Optional: Further properties for better control */
    background-repeat: no-repeat; /* Prevents the image from tiling */
    background-size: cover;       /* Scales the image to cover the entire container */
    background-position: center;  /* Centers the image within the container */


}

.container {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1px;
    margin-left: 50px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  position: relative;
}

.show-lines {
    border: solid 1px rgb(219, 219, 219)
}

.canvas.show-lines .square {
  border: 1px solid rgb(219, 219, 219);
}







